[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
ujson = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
typing-extensions = "*"
gunicorn = "*"
azure-keyvault = "*"
azure-identity = "*"
sqlalchemy-utils = "*"
sentry-sdk = "*"
redis = "*"
rq = "*"
asyncpg = "*"
tenacity = "*"
httpx = "*"

[dev-packages]
pytest = "*"
requests = "*"
pytest-cov = "*"
flake8 = "*"
black = "==20.8b1"
isort = "*"
mypy = "*"
sqlalchemy-stubs = "*"
ipython = "*"
xenon = "*"
pytest-mock = "*"
types-requests = "*"
types-redis = "*"
httpretty = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
