[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://bink-libs:y6nzdKbo9J6MkEmwvB-i@git.bink.com/api/v4/groups/86/-/packages/pypi/simple"
verify_ssl = true
name = "gitlab-libraries"

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
ujson = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
gunicorn = "*"
azure-keyvault = "*"
azure-identity = "*"
sentry-sdk = "*"
redis = "*"
rq = "*"
asyncpg = "*"
tenacity = "*"
httpx = "*"
requests = "*"
retry-tasks-lib = {version=">=1.7.0", index="gitlab-libraries"}
hiredis = "*"

[dev-packages]
typing-extensions = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
black = "==21.9b0"
isort = "*"
mypy = "*"
ipython = "*"
xenon = "*"
pytest-mock = "*"
types-requests = "*"
types-redis = "*"
httpretty = "*"
pytest-asyncio = "*"
sqlalchemy-utils = "*"

[requires]
python_version = "3.9"
