[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pypi-cloud"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.uksouth.bink.sh/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
ujson = "*"
sqlalchemy = {extras = ["asyncio"], version = ">=1.4.33"}
psycopg2-binary = "*"
alembic = "*"
gunicorn = "*"
azure-keyvault = "*"
azure-identity = "*"
sentry-sdk = "*"
redis = "*"
hiredis = "*"
rq = "*"
asyncpg = "*"
tenacity = "*"
requests = "*"
retry-tasks-lib = {version=">=1.12.7", index="pypi-cloud"}
prometheus-client = "==0.12.0" # make sure app.core.cli monkeypatch is still needed and functioning
fastapi-prometheus-metrics = {version=">=0.2.1", index="pypi-cloud"}
typer = "*"
apscheduler = "*"
aiohttp = "*"
aiodns = "*"

[dev-packages]
typing-extensions = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
isort = "*"
mypy = "*"
ipython = "*"
xenon = "*"
pytest-mock = "*"
types-requests = "*"
types-redis = "*"
httpretty = "*"
pytest-asyncio = "*"
sqlalchemy-utils = "*"
pylint = "*"
pylint-pytest = "*"

[requires]
python_version = "3.10"
